.link-grid {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: center;
}

a {
    margin: .5rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    border: 2px solid black;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0, .1);
    padding: 1rem 2rem;
    width: 40%;
}

a:hover {
    text-decoration: underline;
}


.link-form {
    margin: .5rem;
    padding: 1.5rem;
    color: black;
    border: 2px solid black;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0, .1);
    padding: 1rem 2rem;
    width: 55%;
}


.edit-button {
    margin: .5rem;
    width: 10%;
    background-color: white;
}

.delete-button {
    margin: .5rem;
    width: 10%;
    color: black;
    background-color: red;
}

.save-button {
    margin: .5rem;
    color: white;
    background-color: blue;
    width: 20%;
    padding: 1rem;
}

.save-button:disabled {
    opacity: 0.5;
    background-color: grey;
    cursor: not-allowed;
  }

input {
    margin: .5rem;
    padding: .2rem
}

label {
    margin: .3rem
}