.link-grid {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: center;
}

.link {
    margin: .5rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    border: 2px solid black;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0, .1);
    padding: 1rem 2rem;
    width: 40%;
}

.link:hover {
    text-decoration: underline;
}

.edit-button {
    margin: .5rem;
    width: 10%;
    background-color: white;
}

.delete-button {
    margin: .5rem;
    width: 10%;
    color: black;
    background-color: red;
}